<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>

	<div class="container">
	
		<h3>Donor Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Donor</p>
	
		<form th:action="@{/donors/save}"
			  th:object="${donor}" method="POST">
		<table>
			<tr><td>
			<input type="hidden" th:field="${donor.id}" />
			
							<input type="text" th:field="${donor.userName}"
					class="form-control" placeholder="User Name" >
			</td>
			<td>
				
			<input type="text" th:field="${donor.firstName}"
					class="form-control" placeholder="First name">
			</td>
			</tr>
			<tr>
			<td>
				<input type="text" th:field="${donor.lastName}"
					class="form-control" placeholder="Last name">
			</td>
			<td>
			<input type="text" th:field="${donor.lastName}"
					class="form-control" placeholder="Last name">
			</td>
			</tr>
			<tr>
			<td><input type="text" th:field="${donor.email}"
					class="form-control" placeholder="Email"></td>
			<td><input type="text" th:field="${donor.phoneNumber}"
					class="form-control" placeholder="Phone Number">
					</td>
			</tr>
			<tr>
			<td>
							<input type="text" th:field="${donor.birthDate}"
					class="form-control" placeholder="Birth Date">
			</td>
			<td>
				<input type="text" th:field="${donor.bloodGroup}"
					class="form-control" placeholder="Blood Group">
			</td>
			</tr>
			<tr>
			<td>
						<input type="text" th:field="${donor.country}"
					class="form-control" placeholder="Country">
			</td>
			<td>					
							<input type="text" th:field="${donor.state}"
					class="form-control" placeholder="State">
			</td>
			</tr>
			<tr><td>
						<input type="text" th:field="${donor.district}"
					class="form-control" placeholder="District">
			</td>
			<td>			
							<input type="text" th:field="${donor.city}"
					class="form-control" placeholder="City">
			</td></tr>
			<tr><td><input type="text" th:field="${donor.availability}"
					class="form-control" placeholder="Availability"></td></tr>
		 </table>
			<!-- Add hidden form field to handle update -->		
					
					
					<input type="hidden" th:field="${donor.roles}" />
					
					<input type="hidden" th:field="${donor.password}"  />
				
			<br>	
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/donors/list}">Back to Donors List</a>
		
	</div>
</body>

</html>










