<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Donors Directory</title>
</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Blood Donor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <span class="navbar-item">
     <form th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn" />
	
	</form>
    </span>
  </div>
</nav>

	<!-- display user name and role -->
	
	

<body>

<div class="container">

	<div>
		<b>User: </b><span sec:authentication="name"></span><br>
		<b>Role(s):</b> <span sec:authentication="principal.authorities"></span>

		<!-- Check for login error -->																	
		<div th:if="${session.user}" >
			<p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
		</div>		
	</div>
	<h3>Donors Directory</h3>
	<div>
		User: <span sec:authentication="name"></span>
		Role(s): <span sec:authentication="principal.authorities"></span>
	</div>
	
    <form th:action="@{/donors/search}" class="form-inline">
    <div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
		<a th:href="@{/donors/add}"
			class="btn btn-primary btn-sm mr-5 mb-3">
			Add Employee
		</a>
	</div>
		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />

		<button class="btn btn-success mb-3" type="submit">Search</button>
    </form>	
	
	
	<table class="table table-sm">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="donor : ${donors}">
			
				<td th:text="${donor.firstName}" />	
				<td th:text="${donor.lastName}" />	
				
				<td>
					<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')" style="padding-right:3px;float:left;">

						<!-- Add "update" button/link -->
						<a th:href="@{/donors/(donorId=${donor.id})}"
						   class="btn btn-info btn-sm">
							Update
						</a>

					</div>					
					<div sec:authorize="hasRole('ROLE_ADMIN')">  
					
						<!-- Add "delete" button/link -->					
						<a th:href="@{/donors/delete(donorId=${donor.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
							Delete
						</a>

					</div>					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<!-- Add a logout button -->
	
	
</div>
	
</body>
</html>



